transformers==4.43.3
colorama==0.4.6
datasets==2.18.0
groq==0.9.0
ipykernel==6.29.3
ipython==8.12.3
gym==0.23.0
open3d==0.18.0
openai==1.65.2
pillow==10.3.0
PyYAML==6.0.1
regex==2023.12.25
retrying==1.3.4
tokenizers==0.19.1
tqdm==4.66.2
typing_extensions==4.11.0
torch==2.2.2
torchvision==0.17.2
hydra-core==1.3.2
numpy==1.25.0
scikit-learn
habitat-baselines==0.2.420230405
habitat-lab==0.2.420230405
frontier_exploration @ git+https://github.com/e-zorzi/frontier_exploration.git
depth_camera_filtering @ git+https://github.com/naokiyokoyama/depth_camera_filtering
